<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="data:;base64,iVBORwOKGO=" />
	<title>D3 Tutorial 3 Activity 1</title>

	<!-- Custom files -->
	<link rel="stylesheet" href="css/main.css" />

</head>

<body class="container">
	<h2>U.S. State Drinking Patterns in 2012</h2>

	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary">
			<input value="male" class="sex" type="radio" name="options" id="option1" autocomplete="off">Male
		</label>
		<label class="btn btn-primary active">
			<input value="female" type="radio" class="sex" name="options" id="option2" autocomplete="off" checked>Female
		</label>
	</div>

	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary">
			<input value="any" type="radio" name="options" id="option1" autocomplete="off">Any Drinking
		</label>
		<label class="btn btn-primary active">
			<input value="binge" type="radio" name="options" id="option2" autocomplete="off" checked>Binge Drinking
		</label>
	</div>

	<div id="vis"></div>

	<!-- Libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
		type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="js/d3.v6.min.js"></script>

	<!-- your script file -->
	<link rel="icon" href="data:;base64,iVBORwOKGO=" />
	<script src="js/barchart.js"></script>
	<script src="js/main.js"></script>
</body>

</html>